/* nav related styles */
.container {
    text-align: center;
  }
.pic{
    border-radius: 16px;
    background: linear-gradient;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 40px;
 }
  .h1 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p {
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }
  /* body styles */
.H1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    
}
.H4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.CATEGORIES{
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}
.image{
    
    border-radius: 16px;
    background: linear-gradient;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 40px 330px;
}
.invitation{
    position: relative;
    text-align: center;
    color: white;
    display: center;  
} 
    
.welcome{
    color: #FFF;
    text-align: left;
    font-family: Merriweather;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 125px 20px 110px 100px;
    
}
.dolor{
    color: #FFF;
    position: absolute;
    top: 31%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
    width: 47%;
    
}

.button {
    position: absolute;
    top: 42%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(20, 17, 17);
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.place{
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
    background-color: rgb(255, 0, 0.00);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    background-color: rgb(255,0,0,0.1);
    padding: 0px 40px;
}
.text{
    color: red;
    padding-top: 10px;
    
}
.offer{
    text-align: left;
    
}
.picture{
    
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    padding-bottom: 120px;
}
.btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F00;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.third part{
    display: flex;

}
.coming{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    padding-top: none;
    
}

.head{
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.third-part{
    display: flex;
}
.best{
    color: #F00;

    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.ellipse{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.coming{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    
}
.year{
    padding: 43px 136px;
}
/* 4th part */
.func{
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.holliday{
    color: red ;
    text-align: center;
    
}
.sale{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
}
.para{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    padding: 28px 266px;
}
.lady{
    display: flex;
}
.rec-1{
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: lightgray -59.98px 0px / 151.553% 100% no-repeat;
    
}
.rec-2{
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}
.heda{
    position: relative;
    top: 100px;
    left: 30px;
    border: 1px solid #000000;  

}
.lady{
    position: relative;
    top: 0;
    left: 0px;
}
.th-section{
    padding: 80px 30px 100px;
    
}
.bag{
    padding-left: 80px;
    padding-right: 140px;
    display: flex;
    padding-bottom: 20px;
}
.bag-1{
    padding-right: 20px;
}
.bag-2{
    padding-right: 20px;
}
.sun{
    padding-left: 80px;
    padding-right: 140px;
    display: flex;
    padding-bottom: 40px;
}
.sun-1{
    padding-right: 20px;
}
.sun-2{
    padding-right: 20px;
}
.box{
    text-align: center;
    
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 40px;
    
}
.tt{
    padding-top: 40px;
}
.news{
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.fu{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.but{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F00;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
.email{
    width: 648px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 0px;
    background: #FFF;
    text-align: center  ;
}
.last{
    display: flex;
}
