/* nav related styles */
.container {
    text-align: center;
  }
.pic{
    border-radius: 16px;
    background: linear-gradient
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 40px;
 }
  .h1 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p {
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }
  /* body styles */
.H1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    
}
.H4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.CATEGORIES{
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}
.image{
    
    border-radius: 16px;
    background: linear-gradient
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 40px 330px;
}
.invitation{
    position: relative;
    text-align: center;
    color: white;
    display: center;  
} 
    
.welcome{
    color: #FFF;
    text-align: left;
    font-family: Merriweather;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 125px 20px 110px 100px;
    
}
.dolor{
    color: #FFF;
    position: absolute;
    top: 31%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
    width: 47%;
    
}

.button {
    position: absolute;
    top: 42%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(20, 17, 17);
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}




