/* nav related styles */
.container {
    text-align: center;
  }
.pic{
    border-radius: 16px;
    background: linear-gradient
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 40px;
 }
  .h1 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p {
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }